{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}


{% block content %}







<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-12-sm">
                    
                    <div class="well">
                        <h3>Agregar Servicio</h3>
                        <form class="form" role="form" method="POST" action="{% url 'agregar_servicios' %}">
                          {% csrf_token %} 
                          
                          {% for field in form %}
                          <div class="form-group col-s-4">
                            {{ field.errors }}
                            {% render_field field class="form-control" placeholder=field.label %}
                          </div>

                          {% endfor %}
                        
                          <button type="submit" class="btn btn-default">Agregar</button>
                        </form>

                    </div>
                    
                </div>


            </div>

        </div>        



        <div class="col-sm-8 well">
            <h2>Servicios Ofrecidos</h2>
            <div class="row">
                
                <div class="col-12-sm">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Servicio</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for servicio in servicios %}
                          <tr>
                            <td>{{ servicio.nombre }}</td>
                            <td>{{ servicio.descripcion }}</td>
                            <td>{{ servicio.precio }}</td>  
                            <td>{{ servicio.cantidad }}</td>


                            <td>
                                <a href="borrar/{{ servicio.id }}"><span class="glyphicon glyphicon-remove-sign"></span> Eliminar</a>
                                /
                                <a href="modificar/{{ servicio.id }}"><span class="glyphicon glyphicon-remove-sign"></span> Modificar</a>
                            </td>
                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>

                    </div>



                </div>





            </div>


        </div>

    </div>


</div>



{% endblock %}

<script type="text/javascript">

  $('#mymodal').on('hidden.bs.modal', function() {
    this.modal('show');
  });

  $('#mymodal').on('hidden.bs.modal', function() {
  return false;
  });


</script>