{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="container">
        <form class="form-signin" action="/login/" method="post">
        {% csrf_token %} 
          <div class="row">
            <div class="col-sm-12">
              <img class="imagen" src="{% static 'img/icon.png' %}">
            </div>
            <div class="col-sm-12">
              <label for="inputEmail" class="sr-only">Usuario</label>
              <input type="text" id="inputEmail" name=username class="form-control" placeholder="Usuario" required >
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" name=password class="form-control" placeholder="Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button>
            </div>
          </div>
        </form>
    </div> <!-- /container -->


{% endblock %}

