{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<body class="login">
{% endblock %}

{% block navbar %}
    <li>
        <a href="/">Home</a>
    </li>

{% endblock %}

{% block content %}

    <div class="container">

      <form class="form-signin" action="/login/" method="post">
      {% csrf_token %} 
        <h2 class="form-signin-heading">Inicie Sesión</h2>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" id="inputEmail" name=username class="form-control" placeholder="Usuario" required >
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name=password class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


{% endblock %}

