{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-5 well">
            <h2>Pedido del usuario total: {{total}}</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Ingredientes</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                {% for plato in pedido_usuario %}
                <tr>
                    <td>{{ plato.nombre }}</td> 
                    <td>{{ plato.descripcion }}</td> 
                    <td>{{ plato.precio }}</td> 
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>     
    </div>
</div>

{% endblock %}