{% extends "base.html" %}
{% load staticfiles %}


{% block content %}



  <div class="container-fluid">
    <div class="row">    

      <div class="col-sm-4 page-header">
          <h2> {{ user.first_name }} {{ user.last_name }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="#" role="button" class="btn btn-primary pull-right">Editar perfil</a>
      </div>
    </div>
  
  </div>

  <div class="container-fluid">
    
    <div class="row">
      <div class="col-sm-4">
        
        <div class="row">  
          
          <div class="col-sm-12">
            <div class="well">
              <img src={% static "img/blank-profile.png" %} class="img-responsive" alt="Avatar">
            </div>
          </div>

          <div class="col-sm-12 panel text-center">
            <p>{{ user.username }}</p>
            <p> Desde: {{ user.date_joined | date:"M d, Y"}} </p>
          </div>

        </div>

      </div>
      
      <div class="col-sm-4 well">
        <h3>Información Personal</h3>
          <p>Cumpleaños: {{usuario.fecha_nac | date:"d, M"}}</p>

        <h3>Información</h3>
          <p>Cedula: {{usuario.cedula}}</p>
          <p>Correo: {{usuario.perfil.email }}</p> 
          <p>Dirección: {{usuario.direccion }}</p> 
          <p>Teléfono: {{usuario.telf }}</p> 

      </div>
      
      <div class="col-sm-4">
          
        <div class="row">

            <div class="col-sm-12">
        
              <div class="panel panel-default text-left">
                <div class="panel-body">
                  <h3>Restaurantes Visitados</h3>

                <ul class="list-group col-sm-6">
                  <li class="list-group-item">Anaconda</li>
                  <li class="list-group-item">Ocana Bar</li>
                  <li class="list-group-item">Makro Anaco</li>
                </ul>   
                </div>
              </div>

          </div>


        </div>

       </div>
    </div>


  </div>



{% endblock %}