{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="container">
  
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 ">
      <div class="well">
        <a href="{% url 'registroCliente'%}">  <img src={% static "img/cliente.png" %} class="img-responsive fit center-block"> </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 ">
      <div class="well">
        <a href="{% url 'registroProveedor'%}"> <img src={% static "img/proveedor.png" %} class="img-responsive fit center-block"> </a>
      </div>
    </div>
  </div>

</div>

{% endblock %}