{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}


{% block content %}
    <div class="container">
        <form href="{% url 'registro' %}" class="form-signin" method="post">
            {% csrf_token %}

            <div class="row">

                <div class="col-sm-12">
                    <img class="imagen" src="{% static 'img/icon1.png' %}">
                </div>  
                <div class="col-sm-12">
                    {% if mensaje %}
                        <h1>{{mensaje}}</h1>
                    {% endif %}
                </div>  
                <div class="col-sm-12">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {% render_field field class="form-control" placeholder=field.label %}
                        </div>
                    {% endfor %}
                </div>
                <input type="submit" class="btn btn-default" value="Registrar" />
            </div>
        </form>
</div>


{% endblock %}




