{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}
<br>
<div class="container-fluid">
    <div>
    {%if usuario != None %}

    {% endif %}

        <div class="well">
            <h2>Usuario Registrados</h2>

            <div class="row">
                  <div class="col-12-sm">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Tipo</th>
                            <th>Nombre</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for usuario in usuarios %}
                          <tr>
                            {% if usuario.tipo_usuario != 'A' %}
                              <td>{{ usuario.perfil.username }}</td>
                              {% if usuario.tipo_usuario == 'C' %}
                              <td>Cliente</td>
                              {% elif usuario.tipo_usuario == 'P' %}
                              <td>Proveedor</td>
                              {% endif %}
                              <td>{{ usuario.perfil.first_name }}</td>  
                              <td>
                               

                                  <a href="{% url "usuarioSeleccionado" usuario.id %}" ><span class="glyphicon .glyphicon-bookmark"></span>Ver</a>
                              </td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            
            </div>
        </div>
    </div>
<br>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class= "well">
            <h2>Descripcion Usuario</h2>
            <div class="row">
                <div class="col-12-sm">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Fecha Nacimiento</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                          </tr>
                        </thead>
                        <tbody>
                        {%if usuario != None %}
                          <tr>
                            <td>{{ usuario.fecha_nac }}</td>
                            <td>{{ usuario.perfil.first_name }}</td>
                            <td>{{ usuario.perfil.last_name }}</td>
                            <td>{{ usuario.perfil.email }}</td>  
                        
                          </tr>
                           {%endif%}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<br>




{% endblock%}

{% block scripts %}
{%if usuario != None %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#myModal").modal('show');
    });
  </script>
{%endif%}  
{% endblock%}